<% provide(:title,"Login")%>
<div class="new-post">

<h1> Login Page </h1>
<strong> This file lives in app/views/sessions/new.html.erb/</strong>
<br>
<br>
    <%= form_for :session, url: login_path do |f| %>

      <p>
      <%= f.label :email %>
      <br>
      <%= f.email_field :email %>
      </p>

      <p>
      <%= f.label :password %>
      <br>
      <%= f.password_field :password %>
      </p> 

      <p>
      <%= f.submit "Log In"%>
      </p>


    <%end%>

</div>
